<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_3TCRAPP.Properties.Settings.acteConnectionString" connectionString="Driver={MySQL ODBC 5.3 ANSI Driver};server=localhost;uid=root;database=acte;port=3306;charset=utf8;found_rows=1" providerName="System.Data.Odbc" />
        <add name="_3TCRAPP.Properties.Settings.acteConnectionString1" connectionString="Data Source=ADIL-PC;Initial Catalog=acte;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>